// Page title ::Start
h1.page-title {
    font-family: var(--primary-font-v2);
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--base-black);
    margin-bottom: 0.5rem;
}

// Page title ::End