.no-data-found {
    padding: 16px;
    text-align: center;

    img {
        max-width: 270px;
        height: auto;
        margin-bottom: 16px;
    }

    p {
        font-family: var(--font-primary);
        font-size: var(--font-18);
        font-weight: 400;
        margin: 0px;
        color: var(--color-font-tertiary);
    }
}